body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:806px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:84px;
}
#u10799 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:84px;
  display:flex;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:italic;
}
#u10799 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10799_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10800 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:109px;
  width:84px;
  height:16px;
  display:flex;
}
#u10800 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10800_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10801 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:141px;
  width:42px;
  height:16px;
  display:flex;
}
#u10801 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10801_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10802 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:170px;
  width:56px;
  height:16px;
  display:flex;
}
#u10802 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10802_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10803 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:199px;
  width:56px;
  height:16px;
  display:flex;
}
#u10803 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10803_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10804 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:230px;
  width:70px;
  height:16px;
  display:flex;
}
#u10804 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10804_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10805 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:261px;
  width:28px;
  height:16px;
  display:flex;
}
#u10805 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10805_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10806 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:125px;
  width:0px;
  height:0px;
}
#u10806_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:29px;
}
#u10806_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:19px;
  width:33px;
  height:10px;
}
#u10806_text {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:16px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10807 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:125px;
  width:0px;
  height:0px;
}
#u10807_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:58px;
}
#u10807_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:48px;
  width:33px;
  height:10px;
}
#u10807_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10808 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:125px;
  width:0px;
  height:0px;
}
#u10808_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:87px;
}
#u10808_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:77px;
  width:33px;
  height:10px;
}
#u10808_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:47px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10809 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:125px;
  width:0px;
  height:0px;
}
#u10809_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:118px;
}
#u10809_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:108px;
  width:33px;
  height:10px;
}
#u10809_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:62px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10810 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:125px;
  width:0px;
  height:0px;
}
#u10810_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:149px;
}
#u10810_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:139px;
  width:33px;
  height:10px;
}
#u10810_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:78px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
