body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:806px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:84px;
}
#u10355 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:84px;
  display:flex;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:italic;
}
#u10355 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10355_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10356 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:109px;
  width:84px;
  height:16px;
  display:flex;
}
#u10356 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10356_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10357 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:141px;
  width:42px;
  height:16px;
  display:flex;
}
#u10357 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10357_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10358 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:170px;
  width:56px;
  height:16px;
  display:flex;
}
#u10358 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10358_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10359 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:199px;
  width:56px;
  height:16px;
  display:flex;
}
#u10359 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10359_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10360 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:230px;
  width:70px;
  height:16px;
  display:flex;
}
#u10360 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10360_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10361 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:261px;
  width:28px;
  height:16px;
  display:flex;
}
#u10361 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10361_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10362 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:125px;
  width:0px;
  height:0px;
}
#u10362_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:29px;
}
#u10362_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:19px;
  width:33px;
  height:10px;
}
#u10362_text {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:16px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10363 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:125px;
  width:0px;
  height:0px;
}
#u10363_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:58px;
}
#u10363_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:48px;
  width:33px;
  height:10px;
}
#u10363_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10364 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:125px;
  width:0px;
  height:0px;
}
#u10364_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:87px;
}
#u10364_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:77px;
  width:33px;
  height:10px;
}
#u10364_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:47px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10365 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:125px;
  width:0px;
  height:0px;
}
#u10365_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:118px;
}
#u10365_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:108px;
  width:33px;
  height:10px;
}
#u10365_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:62px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10366 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:125px;
  width:0px;
  height:0px;
}
#u10366_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:149px;
}
#u10366_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:139px;
  width:33px;
  height:10px;
}
#u10366_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:78px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
