body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:2040px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u11032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1904px;
  height:952px;
}
#u11032 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1904px;
  height:952px;
  display:flex;
}
#u11032 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11032_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11033_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:31px;
  background:inherit;
  background-color:rgba(236, 245, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 238, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#4AA0FF;
}
#u11033 {
  border-width:0px;
  position:absolute;
  left:1723px;
  top:269px;
  width:48px;
  height:31px;
  display:flex;
  color:#4AA0FF;
}
#u11033 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11033_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:56px;
}
#u11034 {
  border-width:0px;
  position:absolute;
  left:1704px;
  top:136px;
  width:336px;
  height:56px;
  display:flex;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:italic;
}
#u11034 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11034_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11035 {
  border-width:0px;
  position:absolute;
  left:1747px;
  top:269px;
  width:0px;
  height:0px;
}
#u11035_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-65px;
  width:12px;
  height:65px;
}
#u11035_seg1 {
  border-width:0px;
  position:absolute;
  left:-63px;
  top:-65px;
  width:69px;
  height:12px;
}
#u11035_seg2 {
  border-width:0px;
  position:absolute;
  left:-63px;
  top:-111px;
  width:12px;
  height:58px;
}
#u11035_seg3 {
  border-width:0px;
  position:absolute;
  left:-63px;
  top:-111px;
  width:20px;
  height:12px;
}
#u11035_text {
  border-width:0px;
  position:absolute;
  left:-79px;
  top:-67px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1904px;
  height:952px;
}
#u11036 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1032px;
  width:1904px;
  height:952px;
  display:flex;
}
#u11036 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11036_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11037_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:31px;
  background:inherit;
  background-color:rgba(236, 245, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 238, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#4AA0FF;
}
#u11037 {
  border-width:0px;
  position:absolute;
  left:1723px;
  top:1301px;
  width:48px;
  height:31px;
  display:flex;
  color:#4AA0FF;
}
#u11037 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11037_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:56px;
}
#u11038 {
  border-width:0px;
  position:absolute;
  left:1704px;
  top:1168px;
  width:336px;
  height:56px;
  display:flex;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:italic;
}
#u11038 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11038_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11039 {
  border-width:0px;
  position:absolute;
  left:1747px;
  top:1301px;
  width:0px;
  height:0px;
}
#u11039_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-67px;
  width:12px;
  height:67px;
}
#u11039_seg1 {
  border-width:0px;
  position:absolute;
  left:-63px;
  top:-67px;
  width:69px;
  height:12px;
}
#u11039_seg2 {
  border-width:0px;
  position:absolute;
  left:-63px;
  top:-111px;
  width:12px;
  height:56px;
}
#u11039_seg3 {
  border-width:0px;
  position:absolute;
  left:-63px;
  top:-111px;
  width:20px;
  height:12px;
}
#u11039_text {
  border-width:0px;
  position:absolute;
  left:-77px;
  top:-69px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11040_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11040 {
  border-width:0px;
  position:absolute;
  left:1637px;
  top:1266px;
  width:56px;
  height:16px;
  display:flex;
}
#u11040 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11040_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11041 {
  border-width:0px;
  position:absolute;
  left:1637px;
  top:1307px;
  width:42px;
  height:16px;
  display:flex;
}
#u11041 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11041_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11042 {
  border-width:0px;
  position:absolute;
  left:1637px;
  top:1352px;
  width:42px;
  height:16px;
  display:flex;
}
#u11042 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11042_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11043_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:31px;
  background:inherit;
  background-color:rgba(219, 219, 219, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(162, 162, 162, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#B0B0B0;
}
#u11043 {
  border-width:0px;
  position:absolute;
  left:1723px;
  top:1345px;
  width:48px;
  height:31px;
  display:flex;
  color:#B0B0B0;
}
#u11043 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11043_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
