body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:2040px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u11147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1904px;
  height:952px;
}
#u11147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1904px;
  height:952px;
  display:flex;
}
#u11147 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:31px;
  background:inherit;
  background-color:rgba(236, 245, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 238, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#4AA0FF;
}
#u11148 {
  border-width:0px;
  position:absolute;
  left:1723px;
  top:269px;
  width:48px;
  height:31px;
  display:flex;
  color:#4AA0FF;
}
#u11148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:56px;
}
#u11149 {
  border-width:0px;
  position:absolute;
  left:1704px;
  top:136px;
  width:336px;
  height:56px;
  display:flex;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:italic;
}
#u11149 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11149_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11150 {
  border-width:0px;
  position:absolute;
  left:1747px;
  top:269px;
  width:0px;
  height:0px;
}
#u11150_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-65px;
  width:12px;
  height:65px;
}
#u11150_seg1 {
  border-width:0px;
  position:absolute;
  left:-63px;
  top:-65px;
  width:69px;
  height:12px;
}
#u11150_seg2 {
  border-width:0px;
  position:absolute;
  left:-63px;
  top:-111px;
  width:12px;
  height:58px;
}
#u11150_seg3 {
  border-width:0px;
  position:absolute;
  left:-63px;
  top:-111px;
  width:20px;
  height:12px;
}
#u11150_text {
  border-width:0px;
  position:absolute;
  left:-79px;
  top:-67px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1904px;
  height:952px;
}
#u11151 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1032px;
  width:1904px;
  height:952px;
  display:flex;
}
#u11151 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:31px;
  background:inherit;
  background-color:rgba(236, 245, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 238, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#4AA0FF;
}
#u11152 {
  border-width:0px;
  position:absolute;
  left:1723px;
  top:1301px;
  width:48px;
  height:31px;
  display:flex;
  color:#4AA0FF;
}
#u11152 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11152_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:56px;
}
#u11153 {
  border-width:0px;
  position:absolute;
  left:1704px;
  top:1168px;
  width:336px;
  height:56px;
  display:flex;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:italic;
}
#u11153 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11153_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11154 {
  border-width:0px;
  position:absolute;
  left:1747px;
  top:1301px;
  width:0px;
  height:0px;
}
#u11154_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-67px;
  width:12px;
  height:67px;
}
#u11154_seg1 {
  border-width:0px;
  position:absolute;
  left:-63px;
  top:-67px;
  width:69px;
  height:12px;
}
#u11154_seg2 {
  border-width:0px;
  position:absolute;
  left:-63px;
  top:-111px;
  width:12px;
  height:56px;
}
#u11154_seg3 {
  border-width:0px;
  position:absolute;
  left:-63px;
  top:-111px;
  width:20px;
  height:12px;
}
#u11154_text {
  border-width:0px;
  position:absolute;
  left:-77px;
  top:-69px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11155 {
  border-width:0px;
  position:absolute;
  left:1637px;
  top:1266px;
  width:56px;
  height:16px;
  display:flex;
}
#u11155 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11155_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11156 {
  border-width:0px;
  position:absolute;
  left:1637px;
  top:1307px;
  width:42px;
  height:16px;
  display:flex;
}
#u11156 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11156_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11157 {
  border-width:0px;
  position:absolute;
  left:1637px;
  top:1352px;
  width:42px;
  height:16px;
  display:flex;
}
#u11157 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11157_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:31px;
  background:inherit;
  background-color:rgba(219, 219, 219, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(162, 162, 162, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#B0B0B0;
}
#u11158 {
  border-width:0px;
  position:absolute;
  left:1723px;
  top:1345px;
  width:48px;
  height:31px;
  display:flex;
  color:#B0B0B0;
}
#u11158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
