body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-56px;
  width:640px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10605 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:110px;
  width:640px;
  height:98px;
}
#u10606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u10606 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
  display:flex;
}
#u10606 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10606_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u10607 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:34px;
  display:flex;
}
#u10607 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u10608 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:34px;
  display:flex;
}
#u10608 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10608_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:34px;
}
#u10609 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:140px;
  height:34px;
  display:flex;
}
#u10609 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10609_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:34px;
}
#u10610 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:0px;
  width:118px;
  height:34px;
  display:flex;
}
#u10610 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10610_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:34px;
}
#u10611 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:0px;
  width:82px;
  height:34px;
  display:flex;
}
#u10611 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10611_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u10612 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:100px;
  height:34px;
  display:flex;
}
#u10612 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10612_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u10613 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:34px;
  width:100px;
  height:34px;
  display:flex;
}
#u10613 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10613_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u10614 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:34px;
  width:100px;
  height:34px;
  display:flex;
}
#u10614 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10614_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:34px;
}
#u10615 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:34px;
  width:140px;
  height:34px;
  display:flex;
}
#u10615 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10615_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:34px;
}
#u10616 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:34px;
  width:118px;
  height:34px;
  display:flex;
}
#u10616 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10616_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:34px;
}
#u10617 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:34px;
  width:82px;
  height:34px;
  display:flex;
}
#u10617 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10617_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10618 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:68px;
  width:100px;
  height:30px;
  display:flex;
}
#u10618 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10618_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10619 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:68px;
  width:100px;
  height:30px;
  display:flex;
}
#u10619 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10619_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10620 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:68px;
  width:100px;
  height:30px;
  display:flex;
}
#u10620 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10620_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u10621 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:68px;
  width:140px;
  height:30px;
  display:flex;
}
#u10621 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10621_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u10622 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:68px;
  width:118px;
  height:30px;
  display:flex;
}
#u10622 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10622_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u10623 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:68px;
  width:82px;
  height:30px;
  display:flex;
}
#u10623 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10623_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u10624 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:417px;
  width:78px;
  height:15px;
  display:flex;
  text-align:center;
}
#u10624 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10624_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u10625 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:80px;
  width:78px;
  height:16px;
  display:flex;
  font-size:13px;
}
#u10625 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10625_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
