body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u13578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1710px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13578 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:110px;
  width:1710px;
  height:970px;
  display:flex;
}
#u13578 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13579 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:60px;
}
#u13580 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:60px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u13580 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:1020px;
}
#u13581 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:210px;
  height:1020px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u13581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1710px;
  height:60px;
}
#u13582 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:0px;
  width:1710px;
  height:60px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u13582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1710px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u13583 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:60px;
  width:1710px;
  height:50px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u13583 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:27px;
}
#u13584 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:72px;
  width:28px;
  height:27px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u13584 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:20px;
}
#u13585 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:74px;
  width:350px;
  height:28px;
  display:flex;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:20px;
}
#u13585 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13585_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13586 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:288px;
  width:1601px;
  height:102px;
}
#u13587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:34px;
}
#u13587 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:34px;
  display:flex;
}
#u13587 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:34px;
}
#u13588 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:0px;
  width:130px;
  height:34px;
  display:flex;
}
#u13588 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:34px;
}
#u13589 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:0px;
  width:135px;
  height:34px;
  display:flex;
}
#u13589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:34px;
}
#u13590 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:0px;
  width:177px;
  height:34px;
  display:flex;
}
#u13590 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13590_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:34px;
}
#u13591 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:0px;
  width:359px;
  height:34px;
  display:flex;
}
#u13591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:34px;
}
#u13592 {
  border-width:0px;
  position:absolute;
  left:1156px;
  top:0px;
  width:104px;
  height:34px;
  display:flex;
}
#u13592 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:34px;
}
#u13593 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:0px;
  width:124px;
  height:34px;
  display:flex;
}
#u13593 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:34px;
}
#u13594 {
  border-width:0px;
  position:absolute;
  left:1384px;
  top:0px;
  width:212px;
  height:34px;
  display:flex;
}
#u13594 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:34px;
}
#u13595 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:355px;
  height:34px;
  display:flex;
}
#u13595 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:34px;
}
#u13596 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:34px;
  width:130px;
  height:34px;
  display:flex;
}
#u13596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:34px;
}
#u13597 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:34px;
  width:135px;
  height:34px;
  display:flex;
}
#u13597 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:34px;
}
#u13598 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:34px;
  width:177px;
  height:34px;
  display:flex;
}
#u13598 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:34px;
}
#u13599 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:34px;
  width:359px;
  height:34px;
  display:flex;
}
#u13599 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:34px;
}
#u13600 {
  border-width:0px;
  position:absolute;
  left:1156px;
  top:34px;
  width:104px;
  height:34px;
  display:flex;
}
#u13600 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:34px;
}
#u13601 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:34px;
  width:124px;
  height:34px;
  display:flex;
}
#u13601 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:34px;
}
#u13602 {
  border-width:0px;
  position:absolute;
  left:1384px;
  top:34px;
  width:212px;
  height:34px;
  display:flex;
}
#u13602 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:34px;
}
#u13603 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:68px;
  width:355px;
  height:34px;
  display:flex;
}
#u13603 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13603_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:34px;
}
#u13604 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:68px;
  width:130px;
  height:34px;
  display:flex;
}
#u13604 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:34px;
}
#u13605 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:68px;
  width:135px;
  height:34px;
  display:flex;
}
#u13605 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13605_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:34px;
}
#u13606 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:68px;
  width:177px;
  height:34px;
  display:flex;
}
#u13606 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13606_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:34px;
}
#u13607 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:68px;
  width:359px;
  height:34px;
  display:flex;
}
#u13607 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:34px;
}
#u13608 {
  border-width:0px;
  position:absolute;
  left:1156px;
  top:68px;
  width:104px;
  height:34px;
  display:flex;
}
#u13608 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13608_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:34px;
}
#u13609 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:68px;
  width:124px;
  height:34px;
  display:flex;
}
#u13609 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13609_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:34px;
}
#u13610 {
  border-width:0px;
  position:absolute;
  left:1384px;
  top:68px;
  width:212px;
  height:34px;
  display:flex;
}
#u13610 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13610_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13611 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:208px;
  width:140px;
  height:40px;
  display:flex;
}
#u13611 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13611_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(11, 206, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13612 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:208px;
  width:140px;
  height:40px;
  display:flex;
}
#u13612 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13612_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(245, 154, 35, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13613 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:208px;
  width:140px;
  height:40px;
  display:flex;
}
#u13613 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13613_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13614 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:208px;
  width:140px;
  height:40px;
  display:flex;
}
#u13614 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13614_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
