body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u12743_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1710px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12743 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:110px;
  width:1710px;
  height:970px;
  display:flex;
}
#u12743 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12743_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12744 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:60px;
}
#u12745 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:60px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u12745 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12745_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:1020px;
}
#u12746 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:210px;
  height:1020px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u12746 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12746_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1710px;
  height:60px;
}
#u12747 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:0px;
  width:1710px;
  height:60px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u12747 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12747_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12748_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1710px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u12748 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:60px;
  width:1710px;
  height:50px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u12748 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:27px;
}
#u12749 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:72px;
  width:28px;
  height:27px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u12749 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12749_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12750_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:20px;
}
#u12750 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:74px;
  width:350px;
  height:28px;
  display:flex;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:20px;
}
#u12750 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12750_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12751 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:288px;
  width:1601px;
  height:102px;
}
#u12752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:34px;
}
#u12752 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:34px;
  display:flex;
}
#u12752 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12752_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:34px;
}
#u12753 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:0px;
  width:130px;
  height:34px;
  display:flex;
}
#u12753 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12753_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:34px;
}
#u12754 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:0px;
  width:135px;
  height:34px;
  display:flex;
}
#u12754 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:34px;
}
#u12755 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:0px;
  width:177px;
  height:34px;
  display:flex;
}
#u12755 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12755_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:34px;
}
#u12756 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:0px;
  width:359px;
  height:34px;
  display:flex;
}
#u12756 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:34px;
}
#u12757 {
  border-width:0px;
  position:absolute;
  left:1156px;
  top:0px;
  width:104px;
  height:34px;
  display:flex;
}
#u12757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:34px;
}
#u12758 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:0px;
  width:124px;
  height:34px;
  display:flex;
}
#u12758 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:34px;
}
#u12759 {
  border-width:0px;
  position:absolute;
  left:1384px;
  top:0px;
  width:212px;
  height:34px;
  display:flex;
}
#u12759 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:34px;
}
#u12760 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:355px;
  height:34px;
  display:flex;
}
#u12760 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:34px;
}
#u12761 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:34px;
  width:130px;
  height:34px;
  display:flex;
}
#u12761 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:34px;
}
#u12762 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:34px;
  width:135px;
  height:34px;
  display:flex;
}
#u12762 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:34px;
}
#u12763 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:34px;
  width:177px;
  height:34px;
  display:flex;
}
#u12763 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:34px;
}
#u12764 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:34px;
  width:359px;
  height:34px;
  display:flex;
}
#u12764 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12764_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:34px;
}
#u12765 {
  border-width:0px;
  position:absolute;
  left:1156px;
  top:34px;
  width:104px;
  height:34px;
  display:flex;
}
#u12765 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:34px;
}
#u12766 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:34px;
  width:124px;
  height:34px;
  display:flex;
}
#u12766 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:34px;
}
#u12767 {
  border-width:0px;
  position:absolute;
  left:1384px;
  top:34px;
  width:212px;
  height:34px;
  display:flex;
}
#u12767 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:34px;
}
#u12768 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:68px;
  width:355px;
  height:34px;
  display:flex;
}
#u12768 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:34px;
}
#u12769 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:68px;
  width:130px;
  height:34px;
  display:flex;
}
#u12769 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12769_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:34px;
}
#u12770 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:68px;
  width:135px;
  height:34px;
  display:flex;
}
#u12770 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12770_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:34px;
}
#u12771 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:68px;
  width:177px;
  height:34px;
  display:flex;
}
#u12771 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12771_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:34px;
}
#u12772 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:68px;
  width:359px;
  height:34px;
  display:flex;
}
#u12772 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12772_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:34px;
}
#u12773 {
  border-width:0px;
  position:absolute;
  left:1156px;
  top:68px;
  width:104px;
  height:34px;
  display:flex;
}
#u12773 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:34px;
}
#u12774 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:68px;
  width:124px;
  height:34px;
  display:flex;
}
#u12774 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12774_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:34px;
}
#u12775 {
  border-width:0px;
  position:absolute;
  left:1384px;
  top:68px;
  width:212px;
  height:34px;
  display:flex;
}
#u12775 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12775_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12776 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:208px;
  width:140px;
  height:40px;
  display:flex;
}
#u12776 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12776_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12777_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(11, 206, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12777 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:208px;
  width:140px;
  height:40px;
  display:flex;
}
#u12777 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(245, 154, 35, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12778 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:208px;
  width:140px;
  height:40px;
  display:flex;
}
#u12778 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12779 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:208px;
  width:140px;
  height:40px;
  display:flex;
}
#u12779 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12779_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
