body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:3472px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u14462 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:60px;
}
#u14463 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:60px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u14463 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14463_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:1020px;
}
#u14464 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:210px;
  height:1020px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u14464 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14464_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1710px;
  height:60px;
}
#u14465 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:0px;
  width:1710px;
  height:60px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u14465 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14465_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1710px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u14466 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:60px;
  width:1710px;
  height:50px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u14466 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:27px;
}
#u14467 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:72px;
  width:28px;
  height:27px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u14467 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:20px;
}
#u14468 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:74px;
  width:164px;
  height:28px;
  display:flex;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:20px;
}
#u14468 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14468_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1710px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14469 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:110px;
  width:1710px;
  height:970px;
  display:flex;
}
#u14469 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14469_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1710px;
  height:753px;
}
#u14470 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:130px;
  width:1710px;
  height:753px;
  display:flex;
}
#u14470 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:327px;
}
#u14471 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:1144px;
  width:548px;
  height:327px;
  display:flex;
}
#u14471 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14471_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  height:405px;
}
#u14472 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:1144px;
  width:574px;
  height:405px;
  display:flex;
}
#u14472 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:266px;
}
#u14473 {
  border-width:0px;
  position:absolute;
  left:1222px;
  top:1144px;
  width:549px;
  height:266px;
  display:flex;
}
#u14473 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:408px;
}
#u14474 {
  border-width:0px;
  position:absolute;
  left:1701px;
  top:1141px;
  width:563px;
  height:408px;
  display:flex;
}
#u14474 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:349px;
}
#u14475 {
  border-width:0px;
  position:absolute;
  left:2328px;
  top:1141px;
  width:511px;
  height:349px;
  display:flex;
}
#u14475 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:435px;
}
#u14476 {
  border-width:0px;
  position:absolute;
  left:2911px;
  top:1114px;
  width:561px;
  height:435px;
  display:flex;
}
#u14476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
