body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:566px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u14562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:566px;
  height:56px;
}
#u14562 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:566px;
  height:56px;
  display:flex;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:italic;
}
#u14562 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14562_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
