body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:2432px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6029_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2432px;
  height:768px;
  background:inherit;
  background-color:rgba(0, 25, 52, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6029 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2432px;
  height:768px;
  display:flex;
}
#u6029 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6029_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6030_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6030 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:30px;
  width:239px;
  height:170px;
  display:flex;
}
#u6030 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6030_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6031_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6031 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:578px;
  width:500px;
  height:170px;
  display:flex;
}
#u6031 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6031_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6032_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6032 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:30px;
  width:239px;
  height:170px;
  display:flex;
}
#u6032 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6032_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6033_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:142px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u6033 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:44px;
  width:199px;
  height:142px;
  display:flex;
  font-size:20px;
}
#u6033 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6033_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6034_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:142px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u6034 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:44px;
  width:199px;
  height:142px;
  display:flex;
  font-size:20px;
}
#u6034 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6034_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6035_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:142px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u6035 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:592px;
  width:460px;
  height:142px;
  display:flex;
  font-size:20px;
}
#u6035 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6035_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:185px;
}
#u6036 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:571px;
  width:280px;
  height:185px;
  display:flex;
}
#u6036 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6036_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6037_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:298px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6037 {
  border-width:0px;
  position:absolute;
  left:1900px;
  top:22px;
  width:500px;
  height:298px;
  display:flex;
}
#u6037 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6037_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6038_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:248px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u6038 {
  border-width:0px;
  position:absolute;
  left:1920px;
  top:47px;
  width:460px;
  height:248px;
  display:flex;
  font-size:20px;
}
#u6038 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6038_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6039 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6040_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6040 {
  border-width:0px;
  position:absolute;
  left:1900px;
  top:339px;
  width:500px;
  height:170px;
  display:flex;
}
#u6040 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6040_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:142px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u6041 {
  border-width:0px;
  position:absolute;
  left:1920px;
  top:353px;
  width:461px;
  height:142px;
  display:flex;
  font-size:20px;
}
#u6041 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6041_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6042_img {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-12px;
  width:438px;
  height:28px;
}
#u6042p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:418px;
  height:6px;
}
#u6042p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:6px;
}
#u6042p001 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-13px;
  width:30px;
  height:30px;
}
#u6042p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6042p002 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:-13px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u6042p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6042 {
  border-width:0px;
  position:absolute;
  left:1946px;
  top:371px;
  width:414px;
  height:4px;
  display:flex;
}
#u6042 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6042_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:26px;
}
#u6043 {
  border-width:0px;
  position:absolute;
  left:2022px;
  top:359px;
  width:8px;
  height:26px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u6043 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6043_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:13px;
}
#u6044 {
  border-width:0px;
  position:absolute;
  left:2021px;
  top:365px;
  width:4px;
  height:13px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u6044 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6044_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:26px;
}
#u6045 {
  border-width:0px;
  position:absolute;
  left:2116px;
  top:359px;
  width:8px;
  height:26px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u6045 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6045_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:13px;
}
#u6046 {
  border-width:0px;
  position:absolute;
  left:2118px;
  top:365px;
  width:4px;
  height:13px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u6046 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6046_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:26px;
}
#u6047 {
  border-width:0px;
  position:absolute;
  left:2226px;
  top:359px;
  width:8px;
  height:26px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u6047 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6047_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:13px;
}
#u6048 {
  border-width:0px;
  position:absolute;
  left:2224px;
  top:365px;
  width:4px;
  height:13px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u6048 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6048_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6049_img {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-12px;
  width:138px;
  height:28px;
}
#u6049p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:0px;
  width:120px;
  height:4px;
}
#u6049p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:4px;
}
#u6049p001 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-12px;
  width:32px;
  height:28px;
}
#u6049p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:28px;
}
#u6049p002 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:-12px;
  width:32px;
  height:28px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u6049p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:28px;
}
#u6049 {
  border-width:0px;
  position:absolute;
  left:1981px;
  top:400px;
  width:114px;
  height:4px;
  display:flex;
}
#u6049 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6049_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6050 {
  border-width:0px;
  position:absolute;
  left:1920px;
  top:394px;
  width:42px;
  height:16px;
  display:flex;
}
#u6050 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6050_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6051 {
  border-width:0px;
  position:absolute;
  left:1920px;
  top:416px;
  width:42px;
  height:16px;
  display:flex;
}
#u6051 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6051_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6052 {
  border-width:0px;
  position:absolute;
  left:1920px;
  top:440px;
  width:42px;
  height:16px;
  display:flex;
}
#u6052 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6052_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6053 {
  border-width:0px;
  position:absolute;
  left:1920px;
  top:464px;
  width:42px;
  height:16px;
  display:flex;
}
#u6053 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6053_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6054_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6054 {
  border-width:0px;
  position:absolute;
  left:1920px;
  top:480px;
  width:42px;
  height:16px;
  display:flex;
}
#u6054 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6054_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6055_img {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-12px;
  width:138px;
  height:28px;
}
#u6055p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:118px;
  height:4px;
}
#u6055p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:4px;
}
#u6055p001 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-12px;
  width:30px;
  height:28px;
}
#u6055p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u6055p002 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:-12px;
  width:30px;
  height:28px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u6055p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u6055 {
  border-width:0px;
  position:absolute;
  left:2044px;
  top:420px;
  width:114px;
  height:4px;
  display:flex;
}
#u6055 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6055_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6056_img {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-12px;
  width:138px;
  height:28px;
}
#u6056p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:0px;
  width:120px;
  height:4px;
}
#u6056p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:4px;
}
#u6056p001 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-12px;
  width:32px;
  height:28px;
}
#u6056p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:28px;
}
#u6056p002 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:-12px;
  width:32px;
  height:28px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u6056p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:28px;
}
#u6056 {
  border-width:0px;
  position:absolute;
  left:2107px;
  top:448px;
  width:114px;
  height:4px;
  display:flex;
}
#u6056 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6056_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6057_img {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-12px;
  width:138px;
  height:28px;
}
#u6057p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:0px;
  width:120px;
  height:4px;
}
#u6057p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:4px;
}
#u6057p001 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-12px;
  width:32px;
  height:28px;
}
#u6057p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:28px;
}
#u6057p002 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:-12px;
  width:32px;
  height:28px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u6057p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:28px;
}
#u6057 {
  border-width:0px;
  position:absolute;
  left:2153px;
  top:472px;
  width:114px;
  height:4px;
  display:flex;
}
#u6057 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6057_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6058_img {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-12px;
  width:138px;
  height:28px;
}
#u6058p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:118px;
  height:4px;
}
#u6058p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:4px;
}
#u6058p001 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-12px;
  width:30px;
  height:28px;
}
#u6058p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u6058p002 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:-12px;
  width:30px;
  height:28px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u6058p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u6058 {
  border-width:0px;
  position:absolute;
  left:2246px;
  top:488px;
  width:114px;
  height:4px;
  display:flex;
}
#u6058 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6058_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6059_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:225px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6059 {
  border-width:0px;
  position:absolute;
  left:1900px;
  top:523px;
  width:258px;
  height:225px;
  display:flex;
}
#u6059 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6059_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6060_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:188px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u6060 {
  border-width:0px;
  position:absolute;
  left:1910px;
  top:542px;
  width:237px;
  height:188px;
  display:flex;
  font-size:20px;
}
#u6060 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6060_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6061_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:357px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6061 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:214px;
  width:500px;
  height:357px;
  display:flex;
}
#u6061 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6061_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6062_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:331px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u6062 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:227px;
  width:460px;
  height:331px;
  display:flex;
  font-size:20px;
}
#u6062 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6062_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6063_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:225px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6063 {
  border-width:0px;
  position:absolute;
  left:2169px;
  top:523px;
  width:231px;
  height:225px;
  display:flex;
}
#u6063 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6063_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6064_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:188px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u6064 {
  border-width:0px;
  position:absolute;
  left:2180px;
  top:542px;
  width:211px;
  height:188px;
  display:flex;
  font-size:20px;
}
#u6064 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6064_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6065_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u6065 {
  border-width:0px;
  position:absolute;
  left:2074px;
  top:339px;
  width:100px;
  height:23px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u6065 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6065_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
