body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u11605 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:60px;
}
#u11606 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:60px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u11606 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11606_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:1020px;
}
#u11607 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:210px;
  height:1020px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u11607 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1710px;
  height:60px;
}
#u11608 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:0px;
  width:1710px;
  height:60px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u11608 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11608_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1710px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u11609 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:60px;
  width:1710px;
  height:50px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u11609 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11609_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:27px;
}
#u11610 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:72px;
  width:28px;
  height:27px;
  display:flex;
  font-family:'.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u11610 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11610_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:20px;
}
#u11611 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:74px;
  width:350px;
  height:28px;
  display:flex;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:20px;
}
#u11611 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11611_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1710px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11612 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:110px;
  width:1710px;
  height:970px;
  display:flex;
}
#u11612 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11612_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11613 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:288px;
  width:1601px;
  height:102px;
}
#u11614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:34px;
}
#u11614 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:34px;
  display:flex;
}
#u11614 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11614_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:34px;
}
#u11615 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:0px;
  width:130px;
  height:34px;
  display:flex;
}
#u11615 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11615_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:34px;
}
#u11616 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:0px;
  width:135px;
  height:34px;
  display:flex;
}
#u11616 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11616_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:34px;
}
#u11617 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:0px;
  width:177px;
  height:34px;
  display:flex;
}
#u11617 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11617_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:34px;
}
#u11618 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:0px;
  width:359px;
  height:34px;
  display:flex;
}
#u11618 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11618_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:34px;
}
#u11619 {
  border-width:0px;
  position:absolute;
  left:1156px;
  top:0px;
  width:104px;
  height:34px;
  display:flex;
}
#u11619 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11619_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:34px;
}
#u11620 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:0px;
  width:124px;
  height:34px;
  display:flex;
}
#u11620 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11620_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:34px;
}
#u11621 {
  border-width:0px;
  position:absolute;
  left:1384px;
  top:0px;
  width:212px;
  height:34px;
  display:flex;
}
#u11621 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11621_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:34px;
}
#u11622 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:355px;
  height:34px;
  display:flex;
}
#u11622 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11622_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:34px;
}
#u11623 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:34px;
  width:130px;
  height:34px;
  display:flex;
}
#u11623 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11623_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:34px;
}
#u11624 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:34px;
  width:135px;
  height:34px;
  display:flex;
}
#u11624 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11624_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:34px;
}
#u11625 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:34px;
  width:177px;
  height:34px;
  display:flex;
}
#u11625 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11625_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:34px;
}
#u11626 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:34px;
  width:359px;
  height:34px;
  display:flex;
}
#u11626 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11626_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:34px;
}
#u11627 {
  border-width:0px;
  position:absolute;
  left:1156px;
  top:34px;
  width:104px;
  height:34px;
  display:flex;
}
#u11627 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11627_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:34px;
}
#u11628 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:34px;
  width:124px;
  height:34px;
  display:flex;
}
#u11628 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11628_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:34px;
}
#u11629 {
  border-width:0px;
  position:absolute;
  left:1384px;
  top:34px;
  width:212px;
  height:34px;
  display:flex;
}
#u11629 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11629_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:34px;
}
#u11630 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:68px;
  width:355px;
  height:34px;
  display:flex;
}
#u11630 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11630_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:34px;
}
#u11631 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:68px;
  width:130px;
  height:34px;
  display:flex;
}
#u11631 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11631_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:34px;
}
#u11632 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:68px;
  width:135px;
  height:34px;
  display:flex;
}
#u11632 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11632_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:34px;
}
#u11633 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:68px;
  width:177px;
  height:34px;
  display:flex;
}
#u11633 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11633_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:34px;
}
#u11634 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:68px;
  width:359px;
  height:34px;
  display:flex;
}
#u11634 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11634_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:34px;
}
#u11635 {
  border-width:0px;
  position:absolute;
  left:1156px;
  top:68px;
  width:104px;
  height:34px;
  display:flex;
}
#u11635 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11635_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:34px;
}
#u11636 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:68px;
  width:124px;
  height:34px;
  display:flex;
}
#u11636 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11636_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:34px;
}
#u11637 {
  border-width:0px;
  position:absolute;
  left:1384px;
  top:68px;
  width:212px;
  height:34px;
  display:flex;
}
#u11637 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11637_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11638 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:208px;
  width:140px;
  height:40px;
  display:flex;
}
#u11638 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11638_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(11, 206, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11639 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:208px;
  width:140px;
  height:40px;
  display:flex;
}
#u11639 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11639_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(245, 154, 35, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11640 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:208px;
  width:140px;
  height:40px;
  display:flex;
}
#u11640 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11641 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:208px;
  width:140px;
  height:40px;
  display:flex;
}
#u11641 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11641_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u11642 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:145px;
  width:274px;
  height:23px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u11642 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11642_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
