body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:2432px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2432px;
  height:768px;
  background:inherit;
  background-color:rgba(0, 25, 52, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5782 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2432px;
  height:768px;
  display:flex;
}
#u5782 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5782_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:45px;
  color:#FFFAFA;
}
#u5783 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:360px;
  height:52px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:45px;
  color:#FFFAFA;
}
#u5783 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5783_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:686px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
}
#u5784 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:280px;
  width:686px;
  height:140px;
  display:flex;
  font-size:24px;
  color:#FFFFFF;
}
#u5784 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5784_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#FFFFFF;
}
#u5785 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:446px;
  width:300px;
  height:34px;
  display:flex;
  font-size:30px;
  color:#FFFFFF;
}
#u5785 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5785_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:215px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5786 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:505px;
  width:411px;
  height:215px;
  display:flex;
}
#u5786 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5786_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#FFFFFF;
}
#u5787 {
  border-width:0px;
  position:absolute;
  left:1640px;
  top:32px;
  width:240px;
  height:34px;
  display:flex;
  font-size:30px;
  color:#FFFFFF;
}
#u5787 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5787_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
}
#u5788 {
  border-width:0px;
  position:absolute;
  left:1640px;
  top:86px;
  width:144px;
  height:28px;
  display:flex;
  font-size:24px;
  color:#FFFFFF;
}
#u5788 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5788_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
}
#u5789 {
  border-width:0px;
  position:absolute;
  left:1640px;
  top:400px;
  width:144px;
  height:28px;
  display:flex;
  font-size:24px;
  color:#FFFFFF;
}
#u5789 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5789_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:691px;
  height:345px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5790 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:183px;
  width:691px;
  height:345px;
  display:flex;
}
#u5790 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5790_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:689px;
  height:179px;
}
#u5791 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:89px;
  width:689px;
  height:179px;
  display:flex;
}
#u5791 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5791_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:215px;
}
#u5792 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:505px;
  width:256px;
  height:215px;
  display:flex;
}
#u5792 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5792_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#FFFFFF;
}
#u5793 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:446px;
  width:300px;
  height:34px;
  display:flex;
  font-size:30px;
  color:#FFFFFF;
}
#u5793 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5793_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
