body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:2432px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2432px;
  height:768px;
  background:inherit;
  background-color:rgba(0, 25, 52, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2432px;
  height:768px;
  display:flex;
}
#u6230 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6230_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:45px;
  color:#FFFAFA;
}
#u6231 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:360px;
  height:52px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:45px;
  color:#FFFAFA;
}
#u6231 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6231_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:686px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
}
#u6232 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:280px;
  width:686px;
  height:140px;
  display:flex;
  font-size:24px;
  color:#FFFFFF;
}
#u6232 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6232_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#FFFFFF;
}
#u6233 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:446px;
  width:300px;
  height:34px;
  display:flex;
  font-size:30px;
  color:#FFFFFF;
}
#u6233 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6233_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:215px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6234 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:505px;
  width:411px;
  height:215px;
  display:flex;
}
#u6234 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6234_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#FFFFFF;
}
#u6235 {
  border-width:0px;
  position:absolute;
  left:1640px;
  top:32px;
  width:240px;
  height:34px;
  display:flex;
  font-size:30px;
  color:#FFFFFF;
}
#u6235 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6235_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
}
#u6236 {
  border-width:0px;
  position:absolute;
  left:1640px;
  top:86px;
  width:144px;
  height:28px;
  display:flex;
  font-size:24px;
  color:#FFFFFF;
}
#u6236 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6236_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
}
#u6237 {
  border-width:0px;
  position:absolute;
  left:1640px;
  top:400px;
  width:144px;
  height:28px;
  display:flex;
  font-size:24px;
  color:#FFFFFF;
}
#u6237 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6237_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:691px;
  height:345px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6238 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:183px;
  width:691px;
  height:345px;
  display:flex;
}
#u6238 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6238_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:689px;
  height:179px;
}
#u6239 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:89px;
  width:689px;
  height:179px;
  display:flex;
}
#u6239 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6239_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:215px;
}
#u6240 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:505px;
  width:256px;
  height:215px;
  display:flex;
}
#u6240 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6240_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#FFFFFF;
}
#u6241 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:446px;
  width:300px;
  height:34px;
  display:flex;
  font-size:30px;
  color:#FFFFFF;
}
#u6241 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6241_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
